@use "../../styles/variables" as *;

pre{
    white-space: break-spaces;
    font-family: $avenir-base-font;
    line-height: 1.5rem;
}

.recipe-container{
    display: flex;
    justify-content: center;
    @include tablet{
    background-color: $prim-pale-color;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }
}

.card{
    width: 90%;
    background-color: white;
    &__title{
        display: flex;
        justify-content: center;
        width: 100%;
        &-content{
            color: white;
            background-color: $sec-orange-color;
            padding: 0.5rem;
            border-radius: 20px;
        }
    }
    &__text{
        font-size: small;
        &-author{
            background-color: $sec-rouge-color;
            width: fit-content;
            color: white;
            padding: 0.5rem;
            border-radius: 20px;
            margin-top: 0.5rem;
            margin-bottom: 1.7rem;
        }
    }
    &__iframe{
        &-content{
            height: 27rem;
            border-radius: 20px;
            width: 100%;
        }
        &-src{
            font-size: 0.5rem;
            color: $sec-orange-color;
            text-align: center;
        }
    }
    @include tablet{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 20px;
        &__text{
            padding: 0 1rem;
            width: 50%;
        }
        &__iframe{
            &-content{
                width: 20rem;
                height: 31rem;
            }
        }
    }
    @include desktop{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 20px;
        &__text{
            padding: 0 3rem;
            width: 50%;
        }
        &__iframe{
            &-content{
                width: 28rem;
                height: 40rem;
            }
            &-src{
                font-size: 0.8rem;
            }
        }
    }
}

.replaceLink{
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-bottom: 1rem;
    padding-top: 1rem;
    &-button{
        border-radius: 2rem;
        padding: 0.4rem;
    }
}

.delete{
    // width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-top: 1px solid $sec-rouge-color;
    padding-top: 1rem;
    &-img{
        width: 1.8rem;
    }
    @include tablet{
        width: 100%;
    }
}

//modal styling
.modal {    
    background-color: white;
   bottom:0px;
   display: flex;
   flex-direction: column;
   @include tablet{
  display: flex;
  align-items: center;
  margin-top: 6rem;
    background-color: unset;
    
  
   }
    &-cancel {
      border-radius: 20px;
      border:1px solid gray;
      background-color: white;
      color: #5c667e;
      width:43%;
      @include tablet{
          width: 25%;
          margin-right: 2rem;
      }
    }
    &-delete {
      color: white;
      background-color: #c94515;
      border-radius: 20px;
      width:43%;
      border: none;
      @include tablet{
          width: 25%;
      }
    }
    &-button__div{
      margin-bottom: 2rem;
      width:100%;
      bottom:0px;
      height:36px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      @include tablet{
          position: static;
          width: 40%;
          justify-content: end;
          margin-right: 5rem;
      }
    }
    &-div{
      flex:1;
      @include tablet{
          flex: none;
      background-color: white;
      width: 42rem;
      height: 16.375rem;
  
      }
    }
    &__title{
  margin-left:4rem;
  margin-top:3rem;
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-family: TitilliumWeb;
      font-weight: 600;
  
      @include tablet {
          font-size: 2rem;
          line-height: 2.5rem;
          font-family: TitilliumWeb;
          font-weight: 600;
      }
    }
    &__text{
  margin-left:4rem;
  margin-right:2rem;
  font-size: .9375rem;
  line-height: 1.625rem;
  font-family: TitilliumWeb;
  font-weight: 400;
  
  @include tablet {
      font-size: 1rem;
      line-height: 1.75rem;
      font-family: TitilliumWeb;
      font-weight: 400;
      width:34rem;
  }
    }
  
    .MuiModal-backdrop {
      background-color: white;
  display: flex;
      @include tablet {
          background-color: rgb(0, 0, 0, 0.5)
      }
  }
  }