@use "../../styles/variables" as *;

pre{
    white-space: break-spaces;
    font-family: $avenir-base-font;
    line-height: 1.5rem;
}

.recipe-container{
    display: flex;
    justify-content: center;
    @include tablet{
    background-color: $prim-pale-color;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }
}

.card{
    width: 90%;
    background-color: white;
    &__title{
        display: flex;
        justify-content: center;
        width: 100%;
        &-content{
            color: white;
            background-color: $sec-orange-color;
            padding: 0.5rem;
            border-radius: 20px;
        }
    }
    &__text{
        font-size: small;
        &-author{
            background-color: $sec-rouge-color;
            width: fit-content;
            color: white;
            padding: 0.5rem;
            border-radius: 20px;
            margin-top: 0.5rem;
            margin-bottom: 1.7rem;
        }
    }
    &__iframe{
        &-content{
            height: 27rem;
            border-radius: 20px;
        }
        &-src{
            font-size: 0.5rem;
            color: $sec-orange-color;
            text-align: center;
        }
    }
    @include tablet{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 20px;
        &__text{
            padding: 0 1rem;
            width: 50%;
        }
        &__iframe{
            &-content{
                width: 20rem;
                height: 31rem;
            }
        }
    }
    @include desktop{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 20px;
        &__text{
            padding: 0 3rem;
            width: 50%;
        }
        &__iframe{
            &-content{
                width: 28rem;
                height: 40rem;
            }
            &-src{
                font-size: 0.8rem;
            }
        }
    }
}