@use "../../styles/variables" as *;

.sort{
  padding-top: 1rem;
  background-color: #233D4D;
  &__title{
    margin-top: 0;
    text-align: center;
    color: #A1C181;
    @include tablet{
      margin-left: $tablet-spacing;
      text-align: start;
      padding-bottom: 1rem;
    }
    @include desktop{
      margin-left: $desktop-spacing;
    }
  }
  &__tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    // margin-top: 2rem;
    padding-bottom: 1.5rem;
    // align-items: center;
    &-item{
      background-color: orange;
      border: 1px solid black;
      width: fit-content;
      color: white;
      padding: 0.5rem;
      font-weight: bold;
      border-radius: 2rem;
      width: 8rem;
      text-align: center;
    }
  }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    &__frame{
      margin: 0.7rem;
      width: fit-content;
      height: 26rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      &-content{
        height: 23rem;
        border-radius: 10%;
        box-shadow: 4px 4px #FE7F2D ;
      }
      &-button{
        margin-top: 1rem;
        // width: 3rem;
      }
    }
  }

.empty-categories{
  height: 35rem;
}