// Typography Folder

@font-face {
    font-family: Avenir Next;
    src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("truetype"),
    url("../assets/Font/altfiles/AvenirNextLTPro.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Avenir Next;
    src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("truetype"),
    url("../assets/Font/altfiles/AvenirNextLTPro.ttf");
    font-weight: 700;
}