@use "../../styles/variables" as *;

.ai-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $prim-pale-color;
}

.generate{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 15rem;
    &__input{
        margin-bottom: 1rem;
    }
    &__button{
        margin: 1rem;
    }
}

.placeholder{
    display: flex;
    justify-content: center;
    margin: 2rem 15rem;
    border: 1px solid black;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    &__img{
        padding: 3rem 0;
        width: 9rem;
    }
}