@use "../../styles/variables" as *;

ul{
    padding: 0;
}
a{
    text-decoration: none;
}

.favourites{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $prim-pale-color;
    padding-top: 3rem;
    justify-content: center;
    padding-bottom: 4rem;
    &__title{
        background-color: #233D4D;
        text-align: center;
        width: 15rem;
        border-radius: 2rem;
        &-content{
            color: white;
        }
    }
    &__recipe{
        justify-content: center;
        &-content{
            display: flex;
            justify-content: center;
            background-color: #FE7F2D;
            color: white;
            width: 17rem;
            padding: 0.5rem;
            border-radius: 2rem;
            font-weight: bold;
            margin: 1.5rem 0;
        }
    }
    @include tablet{
        &__title{
            width: 18rem;
        }
        &__recipe{
            &-content{
                width: 25rem;
            }
        }
    }
}