@use "../../styles/variables" as *;

.gallery{
  background-color: #A1C181;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  &__frame{
    margin: 0.7rem;
    width: fit-content;
    height: 26rem;
    // display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    &-content{
      height: 23rem;
      border-radius: 10%;
      // box-shadow: 4px 4px orange;
    }
    &-button{
      margin-top: 1rem;
      &-content{
        background-color: #FE7F2D;
        color: white;
        font-weight: bold;
        border-radius: 2rem;
        padding: 0.2rem;
        font-size: small;
        // border: none;
        width: 5rem;
      }
    }
  }
}