@use "../../styles/variables" as *;

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $avenir-base-font;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $prim-pale-color;
    &__text{
        max-width: 27rem;
        padding: 0 1rem;
        line-height: 1.7;
    }
    &__img{
        &-content{
            width: 20rem;
            height: 20rem;
        }
    }
}
.actions{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around
}